.cabecero {
    background-size: cover;
    background-position: center;
    position: relative;
    background: url(../imagenes/connected.png), #331010;
    background: url(../imagenes/connected.png), -webkit-gradient(linear, right top, left top, from(#7b4397), to(#dc2430));
    background: url(../imagenes/connected.png), linear-gradient(to bottom, #ffffff, #212529)
}

.cambiarFuente{
    
    font-family: fantasy;
    text-shadow: black 0.1em 0.1em 0.2em

}